
body {
    background-color: #fdfdfd;
    margin: 0;
      overflow: hidden;
}


.main {
	display: grid;
	grid-template-columns: 40vh auto;
        grid-template-rows: 100%;
        grid-template-areas: "sidebar map";
    height: 100vh;
}


@media screen and (orientation: portrait) {
.main {
	display: grid;
	grid-template-columns: auto;
        grid-template-rows: 60% 40%;
        grid-template-areas: "map"
        "sidebar";
    height: 100vh;
}

body {
	overflow-y: scroll;
}
}

.title {
	width:100px;
	margin-left: -40px;
	
	text-align: center;
}

.sidebar {
		grid-area: sidebar;
display:grid;
	margin: 0;
	align-content: space-between;
	background-color: #F90;
}

.list {
	background-color: #F90;
color: #fff;

}


.toplist {

}

.list ul {
	margin:0;
	padding:0;
}

.list li {
	list-style-type: none;
	min-height: 7vh;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	margin:0;
	text-align: center;
	display: grid;
}

.list li:hover {
	background-color: #F70;
}

.ggg {
	align-items: center;
  align-self: center;
  justify-self: center;

}

.filter {
	width: 100%;
	border: 0;
	margin:0;
	height: 7vh;
	font-size: 2.5vh;
	text-align: center;
}

.map {
		grid-area: map;
		height:100%;
		display: grid;
		min-height: 0;  /* NEW */
  min-width: 0; 
        overflow: auto;
}

.header {
	background-color: #F90;
	height: 5vh;
	margin: 0;
	padding-top: 2vh;
	color: #fff;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.footer {
	background-color: #F90;
	height: 5vh;
	margin: 0;
	padding-top: 2vh;
	color: #fff;
	width: 100%;
	text-align: center;
	border-top: 1px solid #fff;

}


.marker {
	cursor: pointer;
transition: all .2s ease-in-out;
}

.marker:hover {
	transform: scale(1.5);

}

.info {
	position:absolute;
	left: 100px;
	right:100px;
}


@keyframes activemarker {
        0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
        100% {
            transform: scale(1.7);
            -webkit-transform: scale(1.7);
        }
    }

    .selectedLocation {
        animation: activemarker 1s ease-in-out infinite alternate;
        -webkit-animation: activemarker 1s ease-in-out infinite alternate;
    }



